<app-header titulo="Pedido" back="_ion-back-blanco" clase="header_color_rosado">
</app-header>
<ion-content>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" class="animated fadeIn" [fitBounds]="true">
        <agm-marker [agmFitBounds]="true" [iconUrl]='{"url": "assets/img/ubicacion2.png","scaledSize": {"height": 55, "width": 40}}' (markerClick)="clickedMarker(infowindow)" *ngFor="let item of list" [latitude]="item.contrato_rita_coordenada_x" [longitude]="item.contrato_rita_coordenada_y">

            <agm-info-window #infowindow>
                <strong>{{item.rita_codigo}}</strong>
                <p>
                    {{item.contrato_rita_ubicacion}}
                </p>
                <ion-button (click)="obtenerRita(item)">
                    Siguiente
                </ion-button>
            </agm-info-window>

        </agm-marker>
    </agm-map>


</ion-content>