<app-header titulo="Contáctanos" back="_ion-back-blanco" clase="header_color_rosado">
</app-header>

<ion-content padding>



    <div style="margin-top: 110px;margin-bottom: 35px; text-align: center">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <img style="width: 155px;" src="assets/img/logo_login.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-item button (click)="compartir(1)" class="ion-item_1">
        <ion-grid fixed>
            <ion-row>
                <ion-col class="ion-text-center" size="12">
                    <img src="assets/img/facebook-icon.png" style="width:40px ">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item button (click)="compartir(2)" class="ion-item_2">
        <ion-grid fixed>
            <ion-row>
                <ion-col class="ion-text-center" size="12">
                    <img src="assets/img/instagram-icon.png" style="width:40px ">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item button (click)="compartir(3)" class="ion-item_3">
        <ion-grid fixed>
            <ion-row>
                <ion-col class="ion-text-center" size="12">
                    <img src="assets/img/twitter-icon.png" style="width:40px ">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>


</ion-content>