ion-content {
    --background: url('../../../../../assets/img/fondo_login2.png') no-repeat !important;
    max-width: 100% !important;
    height: auto !important;
}

ion-img {
    width: 180px;
    height: auto;
    text-align: center;
}

ion-button {
    --background: #6d2d59;
}