<app-header titulo="QR" back="_ion-back-blanco" clase="header_color_verde">

</app-header>
<ion-content class="ion-padding-top">
    <app-qr-component [mensaje]="mensaje" [value]="value" [cargando]="cargando"></app-qr-component>
    <ion-grid fixed *ngIf="!cargando">
        <ion-row class="ion-text-center">
            <ion-col size="12">
                <ion-button (click)="home()" shape="round">Recoger mas tarde </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>