<ion-content padding>
    <div style="margin-top: 80px;">
        <ion-grid fixed>
            <ion-row>
                <ion-col offset="2">
                    <ion-img src="assets/img/logo_login.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid padding fixed>

        <form [formGroup]="formulario" (ngSubmit)="login();">
            <ion-row>
                <ion-col>
                    <ion-input clearInput placeholder="Usuario" type="text" formControlName="name"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input clearInput placeholder="Contraseña" type="password" formControlName="password">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col offset="6">
                    <ion-button type="submit" class="ion-button_1" shape="round" fill="outline">Ingresar</ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-row>
            <ion-col class="ion-text-center">
                <a routerLink="/pages/pag-ext/recuperar">
                    <ion-label color="light"> ¿Olvidaste tu contraseña?</ion-label>
                </a>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="registrar()" class="ion-button_1ion-button_2" expand="full" shape="round">
                    Registrarse</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="ubicanos()" class="ion-button_1ion-button_2" expand="full" shape="round">
                    Ubícanos</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="contactanos()" class="ion-button_1ion-button_2" expand="full" shape="round">
                    Contáctanos</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>