<ion-item>
    <ion-label clearInput position="floating">Número de tarjeta</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label clearInput position="floating">Mes de expiración</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label clearInput position="floating">Año de expiración</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label clearInput position="floating">CCV</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-item>
    <ion-label clearInput position="floating">Nombres</ion-label>
    <ion-input></ion-input>
</ion-item>
<ion-button shape="round" expand="full" (click)="regresarDatos()">
    Pagar
</ion-button>