<app-header titulo="Contáctanos" back="_ion-back-blanco" clase="header_color_rosado">
</app-header>

<ion-content padding>

    <div style="margin-top: 110px;margin-bottom: 35px; text-align: center">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <img style="width: 155px;" src="assets/img/mail.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-item button (click)="recomendar()" class="ion-item_1">
        <img slot="start" style="max-height:20px" src="assets/img/logo_manito.png" />
        <ion-label class="ion-text-center">Recomendar</ion-label>
        <ion-icon color="light" mode="ios" slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item button (click)="buzon()" class="ion-item_1" [routerLink]="['/pages/pag-int/contactanos/buzon']">
        <img slot="start" style="max-height:20px" src="assets/img/buzon_sugerencias.png" />
        <ion-label class="ion-text-center">Buzón de sugerencia</ion-label>
        <ion-icon color="light" mode="ios" slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

</ion-content>