.ion-item_1 {
    --background: #f07a76;
    --color: white;
    --border-radius: 30px;
    margin-bottom: 15px;
}

ion-itedm {
    --background: #3880ff;
    --background-activated: #3880ff;
    --background-focused: #3880ff;
    --background-hover: #3880ff;
    --border-color: #3880ff;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 8px;
    --box-shadow: 10px 10px;
    --color: #ffffff;
    --color-activated: #3880ff;
    --color-focused: #3880ff;
    --color-hover: #3880ff;
    --detail-icon-color: #989aa2;
    --detail-icon-font-size: 16px;
    --detail-icon-opacity: 1;
    --highlight-color-focused: #0cd1e8;
    --highlight-color-invalid: #f04141;
    --highlight-color-valid: #10dc60;
    --highlight-height: 32px;
    --inner-border-width: 8px;
    --inner-box-shadow: 4px 4px;
    --inner-padding-bottom: 4px;
    --inner-padding-end: 4px;
    --inner-padding-start: 4px;
    --inner-padding-top: 4px;
    --min-height: 24px;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --transition: background-color 15ms linear;
}