<app-header titulo="Pedido" back="_ion-back-blanco" clase="header_color_rosado">

</app-header>

<ion-content padding>
    <app-registro-datos-bancarios (metodoRB)="getEvento($event);"></app-registro-datos-bancarios>
</ion-content>