<ion-header class="ion-no-border" translucent>
    <ion-toolbar [class]="clase">
        <ion-buttons slot="start">
            <ion-button (click)="home()">
                <ion-icon color="light" slot="start" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon color="light" slot="end" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="_ion-title" text-capitalize> {{ titulo }} </ion-title>
    </ion-toolbar>
</ion-header>