ion-title {
    --color: #6d2d59;
    text-align: center;
}

.ion-button_1 {
    --background: #94b85c;
}

.ion-button_2 {
    --background: #6d2d59;
}

ion-checkbox {
    --background-checked: #6d2d59;
}