<app-header titulo="Recoger" back="_ion-back-blanco" clase="header_color_verde">

</app-header>
<ion-content padding>
    <ion-title padding>Resumen de Pedido</ion-title>
    <ion-list>
        <ion-item *ngFor="let item of frutas">
            <ion-grid fixed>
                <ion-row class="ion-text-center">
                    <ion-col offset="2" class="ion-text-left">{{ item.fruta_nombre }}</ion-col>
                    <ion-col>{{ item.fruta_precio | currency:'PEN':'symbol':'.2-2':'PE' }}</ion-col>
                    <!-- <ion-col (click)="editarFruta()"> <i class="far fa-edit"></i></ion-col> -->
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="topping!=null">
            <ion-grid fixed>
                <ion-row class="ion-text-center">
                    <ion-col offset="2" class="ion-text-left">{{topping.topping_nombre }}</ion-col>
                    <ion-col> {{topping.topping_precio | currency:'PEN':'symbol':'.2-2':'PE' }}</ion-col>
                    <!--   <ion-col (click)="editarTopping()"> <i class="far fa-edit"></i></ion-col> -->
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid fixed>
                <ion-row class="ion-text-center" size="12">
                    <ion-col offset="2" class="ion-text-left"><b style="color: #6d2d59">Total</b></ion-col>
                    <ion-col> <b style="color: #6d2d59">{{ montoTotal | currency:'PEN':'symbol':'.2-2':'PE' }}</b>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>




    <ion-button class="ion-button_1" (click)=" recoger()" shape="round" expand="full">
        Continuar
    </ion-button>
    <ion-button class="ion-button_2" (click)=" regresar()" shape="round" expand="full">
        Regresar
    </ion-button>


</ion-content>