<ion-grid class="ion-margin-top">
    <ion-row>

        <ion-col size="12">

            <ion-card color="light">
                <ion-card-header>
                    <ion-card-title class="ion-text-center">Muestre el código QR a la Rita</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value" qrc-class="aclass" qrc-errorCorrectionLevel="L">
                    </ngx-qrcode>
                </ion-card-content>
            </ion-card>

        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid fixed>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-label>
                <h2 style="color: white">{{mensaje}} </h2>

            </ion-label>
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col *ngIf="cargando" class="ion-text-center">
            <ion-spinner color="light" name="crescent"></ion-spinner>
        </ion-col>

    </ion-row>
</ion-grid>