ion-content {
    --background: url('../../../../../assets/img/foe.jpg') 100% 100% !important;
}

ion-img {
    width: 180px;
    height: auto;
    text-align: center;
}

ion-button {
    --background: #6d2d59;
}