<ion-content>
    <div style="margin-top: 125px;margin-bottom: 35px;">
        <ion-grid fixed>
            <ion-row>
                <ion-col offset="3" size="12">
                    <ion-img src="assets/img/foe.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid fixed>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-label>
                    <h1 style="color: white">¡Operación exitosa!</h1>

                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
        <ion-row class="ion-text-center">
            <ion-col size="12">

                <ion-button (click)="home()" shape="round">Regresar al Inicio </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>