<app-header titulo="Recoger" back="_ion-back-blanco" clase="header_color_verde">

</app-header>
<ion-content padding>
    <ion-title padding>Lista de Pedidos</ion-title>
    <ion-grid fixed>
        <ion-row class="ion-text-center">
            <ion-col>
                <img style="width: 125px;" src="assets/img/cv.png">
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="arrayRecoger.length===0" fixed>
        <ion-row class="ion-text-center">
            <ion-col>
                <ion-label style="color: #6d2d59 !important;">No cuenta con pedidos pendientes</ion-label>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-list *ngIf="arrayRecoger.length>0" style="overflow-y: scroll; height:300px;">
        <ion-radio-group>
            <ion-item *ngFor="let item of arrayRecoger">
                <ion-label>Pedido N° {{item.pedido_id}} </ion-label>
                <ion-radio color="dark" slot="start" (click)="seleccionarPedido(item.pedido_id,item.qp_codigo)">
                </ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-button *ngIf="arrayRecoger.length>0" (click)=" seleccionaProducto()" shape="round" expand="full">
        Continuar
    </ion-button>
    <ion-button *ngIf="arrayRecoger.length===0" (click)=" regresar()" shape="round" expand="full">
        Regresar
    </ion-button>


</ion-content>