<app-header titulo="Sugerencias" back="_ion-back-blanco" clase="header_color_rosado">
</app-header>
<ion-content padding>

    <div style="margin-top: 50px;">
        <form [formGroup]="formulario" (ngSubmit)="registrarConsulta();">
            <ion-item>
                <ion-label position="floating">¿Qué desea realizar?</ion-label>
                <ion-select formControlName="tipoConsulta" okText="Aceptar" cancelText="Cancelar">
                    <ion-select-option [value]="item.tc_id" *ngFor="let item of  lista">
                        {{item.tc_nombre }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Nombre y apeliido</ion-label>
                <ion-input type="text" formControlName="nombres"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input type="text" formControlName="ciudad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Numero celular</ion-label>
                <ion-input type="tel" formControlName="celular"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripción</ion-label>
                <ion-textarea formControlName="descripcion" style="height: 100px;"></ion-textarea>
            </ion-item>
            <ion-col size="12">
                <ion-button disabled *ngIf="!formulario.valid" expand="full" shape="round">Enviar
                </ion-button>
                <ion-button *ngIf="formulario.valid" type="submit" expand="full" shape="round">Enviar</ion-button>
            </ion-col>
        </form>
    </div>

</ion-content>