<div class="container text-center" style="color: #ffffff; padding-top:25%;">
    <div class="row">
        <div class="col-12 pt-5" style="color: #6d2d59">
            <h3>Resumen de pedido</h3>
        </div>
        <div class="col-10 offset-1" style="margin-top:20px">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td> {{resumen.fruta.fruta_nombre}}</td>
                        <td>S/. {{resumen.fruta.fruta_precio}}</td>
                    </tr>
                    <tr>
                        <td>{{resumen.topping.topping_nombre}}</td>
                        <td>S/. {{resumen.topping.topping_precio}}</td>
                    </tr>
                    <tr style="color: #6d2d59">
                        <td><b>Total:</b></td>
                        <td><b>S/. {{resumen.precio}}</b></td>
                    </tr>

                </tbody>

            </table>


        </div>
        <div class="col-10 offset-1" style="margin-top:20px">

            <button type="button" class="btn btn-sm" style="border-radius:10px;width:50%;background-color: #f08a73; color: #fff;">Editar</button>

        </div>
        <div class="col-10 offset-1" style="margin-top:20px">

            <button type="button" class="btn btn-sm" style="border-radius:10px;width:50%;background-color: #94b85c; color: #fff;">Vaciar Pedido</button>

        </div>
        <div class="col-10 offset-1" style="margin-top:20px">

            <button (click)="getInvoque('1');" type="button" class="btn btn-sm" style="border-radius:10px;width:50%;background-color: #6d2d59; color: #fff;">Confirmar</button>

        </div>
    </div>
</div>