 .highlight {
     border: 1px solid #6d2d59 !important;
 }
 
 ion-button {
     --background: #6d2d59;
 }
 
 ion-label {
     font-size: 15px;
     text-align: center;
 }
 
 ion-title {
     --color: #6d2d59;
     text-align: center;
 }
 
 ion-card {
     border-radius: 10% !important;
 }