<app-header titulo="Pedido" back="_ion-back-blanco" clase="header_color_rosado">

</app-header>

<ion-content padding>
    <ion-title padding>Seleccionar fruta</ion-title>
    <ion-grid fixed>
        <ion-row size="12">

            <ion-col *ngFor="let item of listFrutas;let i= index" size="6">
                <ion-card [id]="item.fruta_id +'_99'" (click)="stilos(item);" button>
                    <img [src]="item.fruta_url">
                    <ion-card-subtitle class="ion-text-center">{{item.fruta_nombre}}</ion-card-subtitle>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div class="ion-text-center">
        <ion-label> <b>{{ strPrecio | currency:'PEN':'symbol':'.2-2':'PE' }}</b> </ion-label>
    </div>
    <ion-button (click)=" regFrutas()" shape="round" expand="full">
        Confirmar
    </ion-button>
</ion-content>