<app-header titulo="Pagar" back="_ion-back-blanco" clase="header_color_verde"></app-header>
<ion-content padding>

    <div style="margin-top:25% !important;">
        <form (ngSubmit)="validarCodigoPedido(); ">
            <ion-grid fixed>
                <ion-row class="ion-text-center">
                    <ion-col size="12">
                        <ion-item>
                            <ion-label class="ion-text-center"> Ingrese código de pedido </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input class="ion-text-center" name="nombre" [(ngModel)]="codigo" type="tel">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid fixed style="margin-top: 80px;">
                <ion-row class="ion-text-center">
                    <ion-col size="12">
                        <ion-button expand="full" type="submit" shape="round">Validar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>

    <img src="assets/img/logo_login.png" class="rounded-circle bottom-left" alt="" style="width:100px; height: 100px;">


</ion-content>