<app-header titulo="Home" clase="_ion-base">
</app-header>
<ion-content>
    <ion-img src="assets/img/fresas.jpg"></ion-img>
    <ion-list>
        <ion-item class="ion-item_1" [routerLink]="['/pages/pag-int/perfil']">
            <img slot="start" style="max-height:20px" src="assets/img/perfil.png" />
            <ion-label>Perfil</ion-label>
            <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>

        <ion-item [routerLink]="['/pages/pag-int/pedidos/ubicacion-rita']" class="ion-item_2">
            <img slot="start" style="max-height:20px" src="assets/img/pedido.png" />
            <ion-label>Pedido</ion-label>
            <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/pages/pag-int/recoger/lista-pedidos-pagados']" class="ion-item_1">
            <img slot="start" style="max-height:20px" src="assets/img/recoger.png" />
            <ion-label>Recoger</ion-label>
            <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/pages/pag-int/contactanos']" class="ion-item_2">
            <img slot="start" style="max-height:20px" src="assets/img/contactanos.png" />
            <ion-label>Contáctanos</ion-label>
            <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/pages/pag-int/pagos']" class="ion-item_1">
            <img slot="start" style="max-height:20px" src="assets/img/pagar.png" />
            <ion-label>Pagar</ion-label>
            <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>